doctype
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300')

    script(src='http://code.jquery.com/jquery.min.js', type='text/javascript')
    script(src='/javascript/light.js', type='text/javascript')

  body
    .container
      .roW
        img(src="/favicon.png" class='logo')
        .h1.text-center.banner <span class='logoStart'>Aura<span class='logoEnd'>Sync</span></span> : Hub and Location Simulation
      .row
        .col-md-5.card
          h2 UNIV : LIBRARY
          a.bulb-light#welcome2bing
            #light
            #bulb
              .bulb-top
                .reflection
              .bulb-middle-1
              .bulb-middle-2
              .bulb-middle-3
              .bulb-bottom
            #base
              .screw-top
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-c
        .col-md-5.card
          h2 UNIV : STUDENT WING
          a.bulb-light#busecure
            #light
            #bulb
              .bulb-top
                .reflection
              .bulb-middle-1
              .bulb-middle-2
              .bulb-middle-3
              .bulb-bottom
            #base
              .screw-top
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-c
        .col-md-5.card
          h2 HOME : CODM
          a.bulb-light#CODM
            #light
            #bulb
              .bulb-top
                .reflection
              .bulb-middle-1
              .bulb-middle-2
              .bulb-middle-3
              .bulb-bottom
            #base
              .screw-top
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-c
        .col-md-5.card
          h2 HOME: COD
          a.bulb-light#CallOfDuty
            #light
            #bulb
              .bulb-top
                .reflection
              .bulb-middle-1
              .bulb-middle-2
              .bulb-middle-3
              .bulb-bottom
            #base
              .screw-top
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-a
              .screw-b
              .screw-c



